<!DOCTYPE html>
<html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<head>
    <title>IM Demo Login</title>
    <script src="vue.js"></script>
    <script src="vue-resource.min.js"></script>
    <link rel="stylesheet" href="chat.css">
</head>

<body>

    <div class="total_box" id="app">
        <div class="contact_box">
            <div class="contact" v-bind:class="{ contact_active: contact.active }" v-for="contact of contacts" v-on:click="switchContact(contact.loginId)">
                {{contact.userName}}
            </div>
            <!-- <div class="contact">
                Lisa
            </div>
            <div class="contact">
                Pig
            </div> -->
        </div>

        <div class="chat_box">
            <div v-for="message of currentMessages" >
                <div class="message_box_received_header" v-if="message.direction == 'received'">
                    <div class="user">
                        {{message.senderId}}
                    </div>

                    <div class="timestamp">
                        {{message.timestamp}}
                    </div>
                </div>
                <div class="message_box_send_header" v-else>
                    <div class="user">
                        {{message.senderId}}
                    </div>

                    <div class="timestamp">
                        {{message.timestamp}}
                    </div>
                </div>

                <div class="clear_float" ></div>

                <div class="message_box_received_body" v-if="message.direction == 'received'">
                    <div class="avatar">
                        <img class="icon" src="user1-128x128.jpg" alt="message user image">
                    </div>

                    <div class="content">
                        {{message.content}}
                    </div>
                </div>
                <div class="message_box_send_body" v-else>
                    <div class="avatar">
                        <img class="icon" src="user3-128x128.jpg" alt="message user image">
                    </div>

                    <div class="content">
                        {{message.content}}
                    </div>
                </div>

                <div class="clear_float" ></div>
            </div>
        </div>

        <div class="send_box">
            <input type="text" v-model="contentInput" placeholder="Please Input" v-on:keyup.enter="send" />
            <input type="button" v-on:click="send" value="发送">
        </div>
    </div>

    <script>
        function  uuid() {
            var  s = [];
            var  hexDigits =  "0123456789abcdef" ;
            for  ( var  i = 0; i < 36; i++) {
                s[i] = hexDigits.substr(Math.floor(Math.random() * 0x10), 1);
            }
            s[14] =  "4" ;   // bits 12-15 of the time_hi_and_version field to 0010
            s[19] = hexDigits.substr((s[19] & 0x3) | 0x8, 1);   // bits 6-7 of the clock_seq_hi_and_reserved to 01
            s[8] = s[13] = s[18] = s[23] =  "-" ;

            var  uuid = s.join( "" );
            return  uuid;
        }

        var vm = new Vue({
            el: '#app',
            data: {
                loginId: '',
                sec: '',

                contentInput: null,
                contacts: [],
                currentActive: null, // cache
                currentMessages: [],
                messages: {},
                socket: null,
                connected: false,
                intervalId: null,
                retryIds: new Set()
            },
            methods: {
                validate: function() {
                    var idx = location.href.indexOf("?");
                    if (-1 == idx) {
                        alert("非法访问");
                        return;
                    }

                    if(typeof(WebSocket) == "undefined") {
                        alert("您的浏览器不支持WebSocket");
                        return;
                    }

                    var param = decodeURIComponent(location.href.substr(idx + 1));
                    this.loginId = param.split("|")[0];
                    this.sec = param.split("|")[1];

                    this.$http.post("check", { loginId: this.loginId, sec: this.sec}, {emulateJSON: false}).then(function(res) {
                        if (!res.body.success) {
                            alert(res.body.errMsg);
                            return;
                        }

                        this.connect();
                    }, function(res) {
                        console.log(res);
                    });
                },
                switchContact: function(loginId) {
                    vm.contacts.forEach(function(contact) {
                        if (contact.active) {
                            contact.active = false;
                        }

                        if (contact.loginId == loginId) {
                            contact.active = true;
                            vm.currentActive = contact;
                            vm.currentMessages = vm.messages[loginId];
                        }
                    });
                },
                initContactList: function() {
                    this.$http.post("queryFriends", {loginId: this.loginId}, {emulateJSON: false}).then(function(res) {
                        if (!res.body.success) {
                            return;
                        }

                        res.body.data.forEach(function(item, idx) {
                              var obj = {};
                              obj.loginId = item.loginId;
                              obj.userName = item.userName;
                              obj.icon = item.icon;
                              obj.active = false;
                              vm.contacts.push(obj);
                        });
                    }, function(res) {
                        console.log(res);
                    });
                },
                doSend: function(firstTime, msgId, content) {
                    if (firstTime) {
                        vm.socket.send(content);
                        vm.retryIds.add(msgId);

                        setTimeout(() => {
                            vm.doSend(false, msgId, content);
                        }, 5000);
                    } else {
                        if (vm.retryIds.has(msgId)) {
                            vm.socket.send(content);
                            setTimeout(() => {
                                vm.doSend(false, msgId, content);
                            }, 5000);
                        }
                    }
                },
                send: function() {
                    if ('' == this.contentInput.trim()) {
                        return;
                    }

                    if (!vm.connected) {
                        alert("Your network is not connected, please check it first.");
                    }

                    var param = {};
                    param.type = "business";
                    param.subType = "text";
                    param.msgId = uuid();
                    param.content = {};
                    param.content.senderId = this.loginId;
                    param.content.receiverId = this.currentActive.loginId;
                    param.content.content = this.contentInput;
                    param.content = JSON.stringify(param.content);

                    //this.socket.send(JSON.stringify(param));
                    this.doSend(true, param.msgId, JSON.stringify(param));

                    param = {};
                    param.direction = "sent";
                    param.senderId = this.loginId;
                    param.receivered = this.currentActive.loginId;
                    param.timestamp = "xxx";
                    param.type = "text";
                    param.content = this.contentInput;

                    //this.currentMessages.push(param);
                    this.messages[vm.currentActive.loginId].push(param);
                    this.contentInput = '';
                },
                connect: function() {
                    if (this.socket!=null) {
                        this.socket.close();
                        this.socket = null;
                    }

                    this.socket = new WebSocket("ws://" + window.location.host + ":9080/webSocket");

                    this.socket.onopen = function() {
                        var param = {};
                        param.type = "connect";
                        param.msgId = uuid();
                        param.content = vm.loginId;

                        vm.socket.send(JSON.stringify(param));
                        //alert("websocket已打开");
                        vm.intervalId = setInterval(function() {
                            var param = {};
                            param.type = "heartbeat";
                            param.msgId = uuid();
                            vm.socket.send(JSON.stringify(param));
                        }, 20000);

                        vm.initContactList();
                    };
                    //获得消息事件
                    this.socket.onmessage = function(msg) {
                        var data = JSON.parse(msg.data);
                        //console.log(data);
                        if (data.type=="connect_ack") {
                            alert("connected");
                            vm.connected = true;
                            return;
                        }

                        if (data.type=="heartbeat_ack") {
                            return;
                        }

                        if (data.type=="business_ack") {
                            vm.retryIds.delete(data.msgId);
                            return;
                        }

                        // if (data.type=="online") {
                        //     var obj = {};
                        //     obj.userId = data.content;
                        //     obj.active = false;
                        //     vm.contacts.push(obj);
                        //
                        //     var param = {};
                        //     param.type = "online_ack";
                        //     param.msgId = data.msgId;
                        //     vm.socket.send(JSON.stringify(param));
                        //
                        //     return;
                        // }

                        // if (data.type=="offline") {
                        //     for(i = 0, len = vm.contacts.length; i < len; i++) {
                        //         if (vm.contacts[i].userId == data.content) {
                        //             vm.contacts.splice(i,1);
                        //         }
                        //     }
                        //
                        //     var param = {};
                        //     param.type = "offline_ack";
                        //     param.msgId = data.msgId;
                        //     vm.socket.send(JSON.stringify(param));
                        //
                        //     return;
                        // }

                        if (data.type=="business" && data.subType =="text") {
                            var datacontent = JSON.parse(data.content);
                            var param = {};
                            param.direction = "received";
                            param.senderId = datacontent.senderId;
                            param.receiverId = vm.loginId;
                            param.timestamp = "xxx";
                            param.type = "text";
                            param.content = datacontent.content;

                            //this.currentMessages.push(param);
                            console.log(datacontent);
                            vm.messages[datacontent.senderId].push(param);

                            var param = {};
                            param.type = "business_ack";
                            param.msgId = data.msgId;
                            vm.socket.send(JSON.stringify(param));
                        }
                    };

                    this.socket.onclose = function() {
                        clearInterval(vm.intervalId);
                        vm.connected = false;
                        alert("websocket已关闭");
                    };

                    this.socket.onerror = function() {
                        alert("websocket发生了错误");
                    }
                }
            },
            watch: {
                contacts: function (newContacts, oldContacts) {
                    newContacts.forEach(function(contact) {
                        if (!vm.messages.hasOwnProperty(contact.loginId)) {
                            console.log(vm.messages);
                            vm.messages[contact.loginId] = [];
                        }
                    });

                    if (null == vm.currentActive && vm.contacts.length > 0) {
                        vm.contacts[0].active = true;
                        vm.currentActive = vm.contacts[0];
                        vm.currentMessages = vm.messages[vm.currentActive.loginId];
                    }
                }
            },
            created: function() {
                this.validate();
            }
        })
    </script>
</body>

</html>
