.total_box {
  margin: auto;
  margin-top: 250px;
  width: 850px;
  //border: 2px solid black;
  border-radius: 4px;
  padding: 10px;
  height: 550px;
}

.contact_box {
  float: left;
  border: 2px solid black;
  overflow: auto;
  border-radius: 4px;
  width: 250px;
  height: 460px;
  padding: 10px;
}

.contact {
  border: 2px solid black;
  border-radius: 4px;
  margin: 5px 10px 0px 10px;
  padding: 10px;
}

.contact_active {
  background-color: #dddddd;
}

.send_box {
  float: right;
  margin-top: 5px;
  //border: 2px solid black;
  border-radius: 4px;
  width: 573px;
  height: 50px;
  //padding: 10px;
}

input[type=text] {
  width: 89%;
  padding: 18px 20px;
  //margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid black;
  border-radius: 4px;
}

input[type=button] {
  background-color: #555555;
  border: none;
  border-radius: 6px;
  color: white;
  padding: 16px 12px;
  text-decoration: none;
  margin: 2px 2px;
  cursor: pointer;
}

.chat_box {
  float: right;
  border: 2px solid black;
  overflow: auto;
  border-radius: 4px;
  width: 550px;
  height: 400px;
  padding: 10px;
}

.chat_box .message_box_received_header,
.message_box_send_header {
  margin: auto;
  margin-top: 5px;
  // border: 1px solid black;
  width: 530px;
  padding: 5px;
}

.chat_box .message_box_received_body,
.message_box_send_body {
  margin: auto;
  //border: 1px solid black;
  width: 530px;
  padding: 5px;
}

.chat_box .message_box_received_header .user {
  float: left;
  font: bold;
}

.chat_box .message_box_received_header .timestamp {
  float: right;
  color: #92a8d1;
}

.chat_box .message_box_received_body .avatar {
  float: left;
}

.chat_box .message_box_received_body .content {
  float: left;
  background: #dddddd;
  border: 1px solid black;
  border-radius: 8px;
  margin-top: 10px;
  margin-left: 10px;
  padding: 7px;
  width: 350px;
  margin-bottom: 25px;
}

.chat_box .message_box_send_header .user {
  float: right;
  font: bold;
}

.chat_box .message_box_send_header .timestamp {
  float: left;
  color: #92a8d1;
}

.chat_box .message_box_send_body .avatar {
  float: right;
}

.chat_box .message_box_send_body .content {
  float: right;
  background: #00dd00;
  border: 1px solid black;
  border-radius: 8px;
  margin-top: 10px;
  margin-right: 10px;
  padding: 7px;
  width: 350px;
}

.clear_float {
  clear: both;
  #margin-top: 5px;
}

.icon {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
