<!DOCTYPE html>
<html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<head>
    <title>IM Demo Login</title>
    <script src="vue.js"></script>
    <script src="vue-resource.min.js"></script>
    <link rel="stylesheet" href="chat.css">
</head>

<body>

    <div class="total_box" id="app">
        <div class="contact_box">
            <div class="contact" v-bind:class="{ contact_active: contact.active }" v-for="contact of contacts" v-on:click="switchContact(contact)">

                <div class="contact_icon_box">
                    <img class="icon" v-bind:src="'pic/' + contact.icon" alt="message user image">
                </div>

                <div class="contact_name_box">
                    <div class="contact_name">
                        {{contact.userName}}
                    </div>
                </div>

                <div class="unread_box" v-if="contact.unread > 0">
                    <div class="unread">
                        <center>{{contact.unread}}</center>
                    </div>
                </div>

                <div class="clear_float" ></div>
            </div>
            <!-- <div class="contact">
                Lisa
            </div>
            <div class="contact">
                Pig
            </div> -->
        </div>

        <div class="chat_box">
            <div v-for="message of currentMessages" >
                <div class="message_box_received_header" v-if="message.direction == 'received'">
                    <div class="user">
                        {{message.userName}}
                    </div>

                    <div class="timestamp">
                        {{message.timestamp}}
                    </div>
                </div>
                <div class="message_box_send_header" v-else>
                    <div class="user">
                        {{me.userName}}
                    </div>

                    <div class="timestamp">
                        {{message.timestamp}}
                    </div>
                </div>

                <div class="clear_float" ></div>

                <div class="message_box_received_body" v-if="message.direction == 'received'">
                    <div class="avatar">
                        <img class="icon" v-bind:src="'pic/' + message.icon" alt="message user image">
                    </div>

                    <div class="content">
                        {{message.content}}
                    </div>
                </div>
                <div class="message_box_send_body" v-else>
                    <div class="avatar">
                        <img class="icon" v-bind:src="'pic/' + me.icon" alt="message user image">
                    </div>

                    <div class="content">
                        {{message.content}}
                    </div>


                    <div class="read" v-if="currentActive.type == 'individual' && message.status=='read'">
                        已读
                    </div>
                    <div class="unread" v-else-if="currentActive.type == 'individual' && message.status!='read'">
                        未读
                    </div>
                    <div class="unread" v-else-if="currentActive.type == 'group' && message.unreadCnt > 0 ">
                        {{message.unread}}{{message.unreadCnt}} 人未读
                    </div>
                    <div class="read" v-else>
                        全部已读
                    </div>
                </div>

                <div class="clear_float" ></div>
            </div>
        </div>

        <div class="send_box">
            <input type="text" v-model="contentInput" placeholder="Please Input" v-on:keyup.enter="send" />
            <input type="button" v-on:click="send" value="发送">
        </div>
    </div>

    <script>
        function getFormatDate() {
          var date = new Date();
          var y = date.getFullYear();
          var m = date.getMonth() + 1;
          m = m < 10 ? ('0' + m) : m;
          var d = date.getDate();
          d = d < 10 ? ('0' + d) : d;
          var h = date.getHours();
          h = h < 10 ? ('0' + h) : h;
          var minute = date.getMinutes();
          var second = date.getSeconds();
          minute = minute < 10 ? ('0' + minute) : minute;
          second = second < 10 ? ('0' + second) : second;
          return y + '-' + m + '-' + d+' '+h+':'+minute+':'+second;
        }

        function  uuid() {
            var  s = [];
            var  hexDigits =  "0123456789abcdef" ;
            for  ( var  i = 0; i < 36; i++) {
                s[i] = hexDigits.substr(Math.floor(Math.random() * 0x10), 1);
            }
            s[14] =  "4" ;   // bits 12-15 of the time_hi_and_version field to 0010
            s[19] = hexDigits.substr((s[19] & 0x3) | 0x8, 1);   // bits 6-7 of the clock_seq_hi_and_reserved to 01
            s[8] = s[13] = s[18] = s[23] =  "-" ;

            var  uuid = s.join( "" );
            return  uuid;
        }

        var vm = new Vue({
            el: '#app',
            data: {
                me: {},
                contentInput: null,
                contacts: [],
                currentActive: null, // cache
                currentMessages: [],
                messages: {},
                socket: null,
                connected: false,
                intervalId: null,
                retryIds: new Set(),
                users: {}
            },
            methods: {
                validate: function() {
                    var idx = location.href.indexOf("?");
                    if (-1 == idx) {
                        alert("非法访问");
                        return;
                    }

                    if(typeof(WebSocket) == "undefined") {
                        alert("您的浏览器不支持WebSocket");
                        return;
                    }

                    var param = decodeURIComponent(location.href.substr(idx + 1));
                    var loginId = param.split("|")[0];
                    var sec = param.split("|")[1];

                    this.$http.post("check", { loginId: loginId, sec: sec}, {emulateJSON: false}).then(function(res) {
                        if (!res.body.success) {
                            alert(res.body.errMsg);
                            return;
                        }

                        vm.me.loginId = res.body.data.loginId;
                        vm.me.userName = res.body.data.userName;
                        vm.me.icon = res.body.data.icon;
                        vm.me.sec = sec;

                        this.connect();
                    }, function(res) {
                        console.log(res);
                    });
                },
                switchContact: function(contact) {

                    vm.currentActive.active = false;
                    contact.active = true;
                    vm.currentActive = contact;
                    vm.currentMessages = vm.messages[contact.loginId];
                    contact.unread = 0;

                    if (vm.currentActive.type == "individual") {
                        var param = {};
                        param.type = "business";
                        param.subType = "read_reply";
                        param.msgId = uuid();
                        param.content = {};
                        param.content.sender = contact.loginId;
                        param.content.receiver = vm.me.loginId;
                        param.content = JSON.stringify(param.content);

                        vm.doSend(true, param.msgId, JSON.stringify(param));
                    } else if (vm.currentActive.type == "group") {
                        var param = {};
                        param.type = "business";
                        param.subType = "group_read_reply";
                        param.msgId = uuid();
                        param.content = {};
                        param.content.group = contact.loginId;
                        param.content.receiver = vm.me.loginId;
                        param.content = JSON.stringify(param.content);

                        vm.doSend(true, param.msgId, JSON.stringify(param));
                    }


                },
                initChat: function(contact) {
                    if (contact.type == "individual"){
                        this.$http.post("queryChat", {loginId1: vm.me.loginId, loginId2: contact.loginId, n: 200}, {emulateJSON: false}).then(function(res) {
                            if (!res.body.success) {
                                return;
                            }

                            res.body.data.forEach(function(item, idx) {

                                if (item.type=="business" && item.subType =="text") {
                                    var datacontent = JSON.parse(item.content);

                                    if (datacontent.senderId == vm.me.loginId) {
                                        var param = {};
                                        param.direction = "sent";
                                        param.senderId = vm.me.loginId;
                                        param.receivered = contact.loginId;
                                        param.timestamp = datacontent.createdTime;
                                        param.type = "text";
                                        param.content = datacontent.content;
                                        param.status = datacontent.status;

                                        vm.messages[contact.loginId].push(param);
                                    } else {
                                        var param = {};
                                        param.direction = "received";
                                        param.senderId = contact.loginId;
                                        param.userName = vm.users[param.senderId].userName;
                                        param.icon = vm.users[param.senderId].icon;
                                        param.receiverId = vm.me.loginId;
                                        param.timestamp = datacontent.createdTime;
                                        param.type = "text";
                                        param.content = datacontent.content;
                                        param.status = datacontent.status;

                                        if ("read" != datacontent.status) {
                                            contact.unread++;
                                        }

                                        vm.messages[datacontent.senderId].push(param);
                                    }
                                }

                            });
                        }, function(res) {
                            console.log(res);
                        });
                    } else if (contact.type == "group"){
                        this.$http.post("queryGroupChat", {sender: vm.me.loginId, group: contact.loginId, n: 20}, {emulateJSON: false}).then(function(res) {
                            if (!res.body.success) {
                                return;
                            }
                            
                            res.body.data.forEach(function(item, idx) {

                                if (item.type=="business" && item.subType =="group_text") {
                                    var datacontent = JSON.parse(item.content);

                                    if (datacontent.senderId == vm.me.loginId) {
                                        var param = {};
                                        param.direction = "sent";
                                        param.senderId = vm.me.loginId;
                                        param.receivered = contact.loginId;
                                        param.timestamp = datacontent.createdTime;
                                        param.type = "text";
                                        param.content = datacontent.content;
                                        param.unread = new Set();
                                        param.unreadCnt = 0;
                                        datacontent.unread.forEach(function(item){
                                            param.unread.add(item);
                                            param.unreadCnt++;
                                        });

                                        vm.messages[contact.loginId].push(param);
                                    } else {
                                        var param = {};
                                        param.direction = "received";
                                        param.senderId = datacontent.senderId;
                                        param.userName = vm.users[param.senderId].userName;
                                        param.icon = vm.users[param.senderId].icon;
                                        param.receiverId = vm.me.loginId;
                                        param.timestamp = datacontent.createdTime;
                                        param.type = "text";
                                        param.content = datacontent.content;
                                        param.status = datacontent.status;

                                        if ("read" != datacontent.status) {
                                            contact.unread++;
                                        }

                                        vm.messages[datacontent.groupId].push(param);
                                    }
                                }

                            });
                        }, function(res) {
                            console.log(res);
                        });
                    }
                },
                initContactList: function() {//可以合并
                    this.$http.post("queryFriends", {loginId: vm.me.loginId}, {emulateJSON: false}).then(function(res) {
                        if (!res.body.success) {
                            return;
                        }

                        res.body.data.forEach(function(item, idx) {
                            var obj = {};
                            obj.type = "individual";
                            obj.loginId = item.loginId;
                            obj.userName = item.userName;
                            obj.icon = item.icon;
                            obj.active = false;
                            obj.unread = 0;
                            vm.contacts.push(obj);
                            vm.users[obj.loginId] = obj;
                        });

                        vm.contacts.forEach(function(item, idx) {
                            vm.initChat(item);
                        });
                    }, function(res) {
                        console.log(res);
                    });

                    this.$http.post("queryGroups", {loginId: vm.me.loginId}, {emulateJSON: false}).then(function(res) {
                        if (!res.body.success) {
                            return;
                        }

                        res.body.data.forEach(function(item, idx) {
                            var obj = {};
                            obj.type = "group";
                            obj.loginId = item.groupId;
                            obj.userName = item.groupName;
                            obj.icon = item.icon;
                            obj.active = false;
                            obj.unread = 0;
                            obj.members = item.members;

                            item.members.forEach(function(item) {
                                var user = {};
                                user.loginId = item.loginId;
                                user.userName = item.userName;
                                user.icon = item.icon;
                                vm.users[user.loginId] = user;
                            });

                            vm.contacts.push(obj);
                        });

                        vm.contacts.forEach(function(item, idx) {
                            vm.initChat(item);
                        });
                    }, function(res) {
                        console.log(res);
                    });
                },
                doSend: function(firstTime, msgId, content) {
                    if (firstTime) {
                        vm.socket.send(content);
                        vm.retryIds.add(msgId);

                        setTimeout(() => {
                            vm.doSend(false, msgId, content);
                        }, 5000);
                    } else {
                        if (vm.retryIds.has(msgId)) {
                            vm.socket.send(content);
                            setTimeout(() => {
                                vm.doSend(false, msgId, content);
                            }, 5000);
                        }
                    }
                },
                send: function() {
                    if ('' == this.contentInput.trim()) {
                        return;
                    }

                    if (!vm.connected) {
                        alert("Your network is not connected, please check it first.");
                    }

                    if (vm.currentActive.type == "individual") {
                        var param = {};
                        param.type = "business";
                        param.subType = "text";
                        param.msgId = uuid();
                        param.content = {};
                        param.content.senderId = vm.me.loginId;
                        param.content.receiverId = this.currentActive.loginId;
                        param.content.content = this.contentInput;
                        param.content = JSON.stringify(param.content);

                        //this.socket.send(JSON.stringify(param));
                        this.doSend(true, param.msgId, JSON.stringify(param));

                        param = {};
                        param.direction = "sent";
                        param.senderId = vm.me.loginId;
                        param.receivered = this.currentActive.loginId;
                        param.timestamp = getFormatDate();
                        param.type = "text";
                        param.status = 'initial';
                        param.content = this.contentInput;

                        //this.currentMessages.push(param);
                        this.messages[vm.currentActive.loginId].push(param);
                        this.contentInput = '';
                    } else if (vm.currentActive.type == "group") {
                        var param = {};
                        param.type = "business";
                        param.subType = "group_text";
                        param.msgId = uuid();
                        param.content = {};
                        param.content.senderId = vm.me.loginId;
                        param.content.groupId = this.currentActive.loginId;
                        param.content.content = this.contentInput;
                        param.content = JSON.stringify(param.content);

                        //this.socket.send(JSON.stringify(param));
                        this.doSend(true, param.msgId, JSON.stringify(param));

                        param = {};
                        param.direction = "sent";
                        param.senderId = vm.me.loginId;
                        param.receivered = this.currentActive.loginId;
                        param.timestamp = getFormatDate();
                        param.type = "text";
                        param.status = 'initial';
                        param.unread = new Set();
                        vm.currentActive.members.forEach(function(item){
                            param.unread.add(item.loginId);
                        });
                        param.unreadCnt = vm.currentActive.members.length;
                        param.content = this.contentInput;

                        //this.currentMessages.push(param);
                        this.messages[vm.currentActive.loginId].push(param);
                        this.contentInput = '';
                    }
                },
                getContact: function(loginId) {
                    for(i = 0, len = vm.contacts.length; i < len; i++) {
                       if (vm.contacts[i].loginId == loginId) {
                           return vm.contacts[i];
                       }
                    }
                },
                connect: function() {
                    if (this.socket!=null) {
                        this.socket.close();
                        this.socket = null;
                    }

                    this.socket = new WebSocket("ws://" + window.location.host + ":9080/webSocket");

                    this.socket.onopen = function() {
                        var param = {};
                        param.type = "connect";
                        param.msgId = uuid();
                        param.content = vm.me.loginId;
                        vm.doSend(true, param.msgId, JSON.stringify(param));

                        vm.intervalId = setInterval(function() {
                            var param = {};
                            param.type = "heartbeat";
                            param.msgId = uuid();
                            vm.socket.send(JSON.stringify(param));
                        }, 20000);

                        vm.initContactList();
                    };
                    //获得消息事件
                    this.socket.onmessage = function(msg) {
                        var data = JSON.parse(msg.data);

                        if (data.type=="connect_ack") {
                            vm.connected = true;
                            return;
                        }

                        if (data.type=="heartbeat_ack") {
                            return;
                        }

                        if (data.type=="business_ack") {
                            vm.retryIds.delete(data.msgId);
                            return;
                        }

                        if (data.type=="business" && data.subType =="text") {
                            var datacontent = JSON.parse(data.content);
                            var param = {};
                            param.direction = "received";
                            param.senderId = datacontent.senderId;
                            param.userName = vm.users[param.senderId].userName;
                            param.icon = vm.users[param.senderId].icon;
                            param.receiverId = vm.me.loginId;
                            param.timestamp = datacontent.createdTime;
                            param.type = "text";
                            param.content = datacontent.content;

                            //this.currentMessages.push(param);
                            vm.messages[datacontent.senderId].push(param);

                            if (vm.currentActive.loginId != datacontent.senderId) {
                                vm.getContact(datacontent.senderId).unread++;
                            }

                            var param = {};
                            param.type = "business_ack";
                            param.msgId = data.msgId;
                            vm.socket.send(JSON.stringify(param));

                            if (vm.currentActive.loginId == datacontent.senderId) {
                                var param = {};
                                param.type = "business";
                                param.subType = "read_reply";
                                param.msgId = uuid();
                                param.content = {};
                                param.content.sender = vm.currentActive.loginId;
                                param.content.receiver = vm.me.loginId;
                                param.content.msgId = data.msgId;
                                param.content = JSON.stringify(param.content);

                                vm.doSend(true, param.msgId, JSON.stringify(param));
                            }
                        }

                        if (data.type=="business" && data.subType =="group_text") {
                            var datacontent = JSON.parse(data.content);
                            var param = {};
                            param.direction = "received";
                            param.senderId = datacontent.senderId;
                            param.userName = vm.users[param.senderId].userName;
                            param.icon = vm.users[param.senderId].icon;
                            param.receiverId = vm.me.loginId;
                            param.timestamp = datacontent.createdTime;
                            param.type = "text";
                            param.content = datacontent.content;

                            //this.currentMessages.push(param);
                            vm.messages[datacontent.groupId].push(param);

                            if (vm.currentActive.loginId != datacontent.groupId) {
                                vm.getContact(datacontent.groupId).unread++;
                            }

                            var param = {};
                            param.type = "business_ack";
                            param.msgId = data.msgId;
                            vm.socket.send(JSON.stringify(param));

                            if (vm.currentActive.loginId == datacontent.groupId) {
                                var param = {};
                                param.type = "business";
                                param.subType = "group_read_reply";
                                param.msgId = uuid();
                                param.content = {};
                                param.content.receiver = vm.me.loginId;
                                param.content.group = datacontent.groupId;
                                param.content.msgId = data.msgId;
                                param.content = JSON.stringify(param.content);

                                vm.doSend(true, param.msgId, JSON.stringify(param));
                            }
                        }

                        if (data.type=="business" && data.subType =="read_notice") {
                            var datacontent = JSON.parse(data.content);
                            var messages = vm.messages[datacontent.receiver];

                            for(i = 0, len = messages.length; i < len; i++) {
                                var message = messages[i];
                                if (message.status != "read") {
                                    message.status = "read";
                                }
                            }

                            var param = {};
                            param.type = "business_ack";
                            param.msgId = data.msgId;
                            vm.socket.send(JSON.stringify(param));
                        }

                        if (data.type=="business" && data.subType =="group_read_notice") {
                            var datacontent = JSON.parse(data.content);
                            var messages = vm.messages[datacontent.group];

                            for(i = 0, len = messages.length; i < len; i++) {
                                var message = messages[i];
                                if (message.direction == "sent")
                                {
                                    if (message.unread.has(datacontent.receiver)) {
                                        message.unreadCnt--;
                                        message.unread.delete(datacontent.receiver);
                                    }
                                }
                            }

                            var param = {};
                            param.type = "business_ack";
                            param.msgId = data.msgId;
                            vm.socket.send(JSON.stringify(param));
                        }
                    };

                    this.socket.onclose = function() {
                        clearInterval(vm.intervalId);
                        vm.connected = false;
                        alert("websocket已关闭");
                    };

                    this.socket.onerror = function() {
                        alert("websocket发生了错误");
                    }
                }
            },
            watch: {
                contacts: function (newContacts, oldContacts) {
                    newContacts.forEach(function(contact) {
                        if (!vm.messages.hasOwnProperty(contact.loginId)) {
                            vm.messages[contact.loginId] = [];
                        }
                    });

                    if (null == vm.currentActive && vm.contacts.length > 0) {
                        vm.contacts[0].active = true;
                        vm.currentActive = vm.contacts[0];
                        vm.currentMessages = vm.messages[vm.currentActive.loginId];
                    }
                }
            },
            created: function() {
                this.validate();
            }
        })
    </script>
</body>

</html>
