<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.personal.oyl.im.gateway.im.MessageMapper">
	<resultMap id="BaseResultMap" type="com.personal.oyl.im.gateway.im.Message">
        <result column="id" property="id" jdbcType="BIGINT" />
        <result column="sender" property="sender" jdbcType="VARCHAR" />
        <result column="receiver" property="receiver" jdbcType="VARCHAR" />
        <result column="type" property="type" typeHandler="com.personal.oyl.im.gateway.im.MessageTypeHandler" />
        <result column="status" property="status" typeHandler="com.personal.oyl.im.gateway.im.MessageStatusHandler" />
        <result column="content" property="content" jdbcType="VARCHAR" />
        <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
        <result column="read_time" property="readTime" jdbcType="TIMESTAMP" />
	</resultMap>

    <insert id="insert" parameterType="com.personal.oyl.im.gateway.im.Message" useGeneratedKeys="true" keyProperty="id">
        insert into `message`(
            `sender`, `receiver`, `Identification`, `type`, `status`, `content`
        ) values (
            #{sender,jdbcType=VARCHAR},
            #{receiver,jdbcType=VARCHAR},
            #{identification,jdbcType=VARCHAR},
            #{type,typeHandler=com.personal.oyl.im.gateway.im.MessageTypeHandler},
            0,
            #{content,jdbcType=VARCHAR}
        )
    </insert>

    <select id="queryByKey" resultMap="BaseResultMap">
        select `id`, `sender`, `receiver`, `type`, `status`, `content`, `created_time`, `read_time`
        from `message`
        where `id` = #{param1,jdbcType=BIGINT}
        limit 1
    </select>

    <select id="queryLastN" resultMap="BaseResultMap">
        select a.`id`, a.`sender`, a.`receiver`, a.`type`, a.`status`, a.`content`, a.`created_time`, a.`read_time`
        from `message` a,
        (select `id` from `message`
            where `identification` = #{param1,jdbcType=VARCHAR}
            order by `id` desc
            limit ${param2}) b
        where a.`id` = b.`id`
        order by a.`id` asc
    </select>

</mapper>