<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.personal.oyl.im.gateway.user.UserMapper">
	<resultMap id="BaseResultMap" type="com.personal.oyl.im.gateway.user.User">
        <result column="id" property="id" jdbcType="BIGINT" />
        <result column="login_id" property="loginId" jdbcType="VARCHAR" />
        <result column="user_name" property="userName" jdbcType="VARCHAR" />
        <result column="password" property="password" jdbcType="VARCHAR" />
        <result column="icon" property="icon" jdbcType="VARCHAR" />
	</resultMap>


    <select id="queryAll" resultMap="BaseResultMap">
        select `id`, `login_id`, `user_name`, `password`, `icon`
        from `user`
        order by `id`
    </select>


</mapper>